body{
	margin:0;
	padding:0;
	
}
.container{
	width:1100px;
	height:800px;
	margin-left: 200px;
	padding:0px 40px 40px 0px;
	background-color:#6666ff; 
}
.form-box{
	padding-left:20px;
	padding-right:20px;
	width:1000px;
	height:750px;
	margin-left:40px;
	background-color: #fff;
}
.display{
	width:90px;
	margin-top:30px;
	margin-left:7px;
	padding-left:5px;
	padding-right:5px;
	font-size:12px;
	height:25px;
	border:none;
	color: #fff;
	border-radius:4px;
	background-color: #4267b2; 
}
.right{
	font-size:16px;
	font-weight: 600;
}
h3{
	padding-top:10px;
	margin-bottom:2px;
	font-size:16px;
	margin-left:400px;
	font-family: sans-serif;
	color:#6666ff;
}
.search{
	margin-top:-10px;
	width: 700px;
	margin-left:90px;
	padding-left:10px;
	text-align: left;
	font-size: 10px;
	font-weight: 700;
	border-top:2px solid gainsboro;
	border-bottom-width: thick solid lightgrey;
	height:25px;
	border-radius:4px;
}
.button{
	width:90px;
	height:25x;
	background-color:#4267b2;
	margin-left:-15px;
	margin-top:33px;
	border-radius:4px;
}
.pad{
	position: fixed;
	margin-top:-132px;
	margin-left:-180px;
	width:600px;
	height:400px;
}
.filter{
	font-family: sans-serif;
	font-size:12px;
	color: #fff;
	margin-top:-5px;
	padding-bottom:10px;
	margin-left:40px;
}
hr{
	margin:20px 20px 5px -860px;
	width:930px;
}
.col-xs-4{
	font-family: sans-serif;
	width:300px;
	height:130px;
	background-color:#4267b2;
	margin:10px 10px 15px 15px;
	border-radius: 5px;
	padding-top: 10px;
	box-shadow:10px 10px 10px lightgrey;
}
.mark1{
	background-color: darkorange;
	width:130px;
	height:30px;
	padding-left:5px;
	padding-top:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
	
}
.image1{
	position: absolute;
	top:-150px;
	left:130px;
	float: right;
	width:750px;
	height:750px;
}
.text1{
	position: absolute;
	top:135px;
	left:270px;
	color:#fff;
	font-size:14px;
	padding-top: 10px;
	padding-bottom:10px;
}
.mark11{
	background-color: darkorange;
	width:130px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image11{
	position: absolute;
	top:-150px;
	left:450px;
	float: right;
	width:750px;
	height:750px;
}
.text11{
	position: absolute;
	top:145px;
	left:595px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark12{
	background-color: darkorange;
	width:150px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image12{
	position: absolute;
	top:-150px;
	left:780px;
	float: right;
	width:750px;
	height:750px;
}
.text12{
	position: absolute;
	top:145px;
	left:920px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark2{
	background-color: darkorange;
	width:120px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image2{
	position: absolute;
	top:10px;
	left:130px;
	float: right;
	width:750px;
	height:750px;
}
.text2{
	position: absolute;
	top:300px;
	left:270px;
	color:#fff;
	font-size:14px;
	width:280px;
}
.mark21{
	background-color: darkorange;
	width:120px;
	height:30px;
	padding-top:5px;
	padding-left:7px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image21{
	position: absolute;
	top:15px;
	left:455px;
	float: right;
	width:750px;
	height:750px;
}
.text21{
	position: absolute;
	top:300px;
	left:600px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark22{
	background-color: darkorange;
	width:120px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image22{
	position: absolute;
	top:15px;
	left:780px;
	float: right;
	width:750px;
	height:750px;
}
.text22{
	position: absolute;
	top:300px;
	left:920px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark3{
	background-color: darkorange;
	width:120px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image3{
	position: absolute;
	top:160px;
	left:130px;
	float: right;
	width:750px;
	height:750px;
}
.text3{
	position: absolute;
	top:455px;
	left:280px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark31{
	background-color: darkorange;
	width:130px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image31{
	position: absolute;
	top:160px;
	left:455px;
	float: right;
	width:750px;
	height:750px;
}
.text31{
	position: absolute;
	top:455px;
	left:600px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark32{
	background-color: darkorange;
	width:120px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image32{
	position: absolute;
	top:160px;
	left:780px;
	float: right;
	width:750px;
	height:750px;
}
.text32{
	position: absolute;
	top:455px;
	left:920px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark4{
	background-color: darkorange;
	width:130px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image4{
	position: absolute;
	top:317px;
	left:130px;
	float: right;
	width:750px;
	height:750px;
}
.text4{
	position: absolute;
	top:610px;
	left:280px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark41{
	background-color: darkorange;
	width:120px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image41{
	position: absolute;
	top:317px;
	left:455px;
	float: right;
	width:750px;
	height:750px;
}
.text41{
	position: absolute;
	top:610px;
	left:600px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}
.mark42{
	background-color: darkorange;
	width:130px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	border-radius:5px;
	font-size: 13px;
	color: #fff;
	font-weight: 700px;
	margin-left:-5px;
	margin-top:-1px;
}
.image42{
	position: absolute;
	top:317px;
	left:780px;
	float: right;
	width:750px;
	height:750px;
}
.text42{
	position: absolute;
	top:610px;
	left:925px;
	color:#fff;
	font-size:14px;
	width:280px;
	
}